.admin-page {
    height: auto;
    padding: 20px 10px;

}

.admin-page h3 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-page .my-control {
    margin-bottom: 13px;

}

.admin-page .my-control label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 7px;
}

.admin-page .my-control input {
    width: 230px;
}

.admin-page .alert {
    transition: 1s all ease;
}

.admin-page .hide {
    display: none;
}