:root {
    --primary: rgb(22 94 106);
    --primary-light: rgba(22, 94, 106, 0.6);
    --highlight: #f55d2c;
    --control-border: #999999;
    --background: #c5c5c5;
    --border: #e9e9e9;
}

.App{
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px +  2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  